<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos</title>
  <link rel="icon" href="/images/logo-header2.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/agendamentos.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.16/jspdf.plugin.autotable.min.js"></script>
<script src="../javascripts/agendamentoFunctions.js"></script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>

<body>

  <header>
    <nav>
      <div class="nav-container">
        <div class="img-logo">
          <a href="/agendamentos/agendamentos"><img class="img-logo" src="/images/logo-header.png" alt="Logo"></a>
        </div>
        <div class="div-links">
          <a class="texto-mid-page" href="/agendamentos/agendamentos" style="color: #ffffff; text-decoration: none;" >Agendamentos</a>
          <a class="texto-mid-page" href="/pets/pets" style="color: #ffffff; text-decoration: none;" >Pets</a>
          <a class="texto-mid-page" href="/colaboradores/telaEditar" style="color: #ffffff; text-decoration: none;">Perfil</a>
            <a id="btn-sair" href="/logout">Sair</a>
        </div>
      </div>
    </nav>
  </header>

  <section id="lista-agendamentos" class="container">
    <h2 class= "txt-tbl">Agendamentos</h2>
    <table class="table" id="myTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 7%;">ID</th>
          <th scope="col">Pet</th>
          <th scope="col">Tipo Agenda</th>
          <th scope="col">Data</th>
          <th scope="col">Colaborador</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tabela-agendamentos">
        {{#agendamentos}}
        <tr class="pet">
          <td class="id">{{_id}}</td>
          <td class="pet">{{pet}}</td>
          <td class="tipoAgendamento">{{tipoAgendamento}}</td>
          <td class="data">{{data}}</td>
          <td class="nomeColaborador">{{nomeColaborador}}</td>
          <td><button class="btn-editar" onclick="editarAgendamento('{{_id}}')"><i class="fas fa-edit"></i></button></td>
          <td><button class="btn-excluir" onclick="excluirAgendamento('{{_id}}')"><i class="fas fa-trash"></i></button></td>
        </tr>
        {{/agendamentos}}
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <button style="background-color: #212529;border-color: #32383e;" class="btn btn-primary mr-2" onclick="exportToPdf()">Extrair PDF</button>
      <form action="/agendamentos/criarAgendamento" method="GET">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </section>


  <footer>
    <div id="div-footer"> 
    <a class="texto-end1-page" href="https://www.linkedin.com/in/ramon-crivelari-batista-b73392234/" target="_blank" style="color: #ffffff; text-decoration: none;">@Petweb</a>
     <span style = "margin: 0 5px">|</span>
     <a class="texto-end2-page" href="/sobre" style="color: #ffffff; text-decoration: none;">Sobre</a>
     <span style = "margin: 0 5px">|</span>
     <a class="texto-end2-page" href="/tecnologias" style="color: #ffffff; text-decoration: none;">Tecnologias</a>
     <span style = "margin: 0 5px">|</span>
     <a class="texto-end2-page" href="/contato" style="color: #ffffff; text-decoration: none;" >Contato</a>
   </div>
   </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#myTable').DataTable({
        "lengthMenu": [5, 10, 25, 50],
        "language": {
          "lengthMenu": "Exibição_MENU_",
          "zeroRecords": "Nenhum registro encontrado",
          "info": "Página _PAGE_ de _PAGES_",
          "infoEmpty": "Nenhum registro disponível",
          "search": "Buscar",
          "paginate": {
            "next": "Próximo",
            "previous": "Anterior"
          }
        }
      });
    });
  </script>
</body>

</html>
