<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="/stylesheets/contact.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>

<body>

  <header>
    <nav>
      <div class="nav-container">
        <div class="img-logo"></div>
        <div class="div-links">
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/tec">Tecnologias</a>
            <a href="/contact">Contato</a>
        </div>
      </div>
    </nav>
  </header>

 <section class="container-formulario" style="text-align: center;">
  <h2>Entre em contato</h2>
  <form action="/email" method="POST" style="max-width: 400px; margin: 0 auto;">
    <div style="margin-bottom: 10px;">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" style="width: 100%;" required>
    </div>
    <div style="margin-bottom: 10px;">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" style="width: 100%;" required>
    </div>
    <div style="margin-bottom: 10px;">
      <label for="assunto">Assunto:</label>
      <input type="text" id="assunto" name="assunto" style="width: 100%;" required>
    </div>
    <div style="margin-bottom: 10px;">
      <label for="mensagem">Mensagem:</label>
      <textarea id="mensagem" name="mensagem" style="width: 100%;" required></textarea>
    </div>
    <input type="submit" value="Enviar" style="width: 100%; background-color: #A0522D; color: #fff; padding: 10px;">
  </form>
</section>


  <footer>
    <a style="text-decoration: none; color: white;" href="https://www.linkedin.com/in/ramon-crivelari-batista-b73392234/" target="_blank">@Petweb</a>
  </footer>

</body>

</html>