<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="/images/logo-header.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>

<body>

  <header>
    <nav>
      <div class="nav-container">
       <a class="texto-mid-page" href="/"><div class="img-logo"></div></a>
        
        <div class="div-links">
            <a class="texto-mid-page" href="/agendamentos">Agendamentos</a>
            <a class="texto-mid-page" href="/pets">Pets</a>
            <a class="texto-mid-page" href="/perfil">Perfil</a>
            <a style="background-color:red; width: 10%; height: 1%" class="texto-mid-page" href="/logout">Sair</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="color-palette">
    <div class="color" style="background-color: #8B4513;"></div>
    <div class="color" style="background-color: #A0522D;"></div>
    <div class="color" style="background-color: #D2691E;"></div>
    <div class="color" style="background-color: #CD853F;"></div>
    <div class="color" style="background-color: #8B7355;"></div>
</div>
  

  <footer>
    <a class="texto-end-page" href="https://www.linkedin.com/in/ramon-crivelari-batista-b73392234/" target="_blank">@Petweb</a>
  </footer>

</body>

</html>