<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/images/logo-header.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>

<body>
  <div class="container">
    <div class="left-section"></div>
    <div class="right-section">
      <section class="container-formulario">
        <h2 id="formtitle">Login</h2>
        <form action="/home" method="GET">
          <label for="username">Email:</label>
          <input type="text" id="email" name="email" >
          <br>
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" >
          <br>
          <input id='btn-entrar' type="submit" value="Entrar" style="display: block; margin: 0 auto; background-color: #A0522D;  border-radius: 20px;">
        </form>
        <a class ="criarConta" href="/criarConta">Criar conta</a>
      </section>
    </div>
  </div>
</body>
</html>
