<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0">
  <title>Tecnologias</title>
  <link rel="icon" href="/images/logo-header.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/tec.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>
<body>
  <header>
    <nav>
      <div class="nav-container">
        <div class="img-logo"></div>
        <div class="div-links">
          <a class="texto-mid-page" href="/home">Home</a>
          <a class="texto-mid-page" href="/about">Sobre</a>
          <a class="texto-mid-page" href="/tec">Tecnologias</a>
          <a class="texto-mid-page" href="/contact">Contato</a>
        </div>
      </div>
    </nav>
  </header>
  <section class="container-formulario" style="text-align: center;">
    <h1>TECNOLOGIAS USADAS</h1>
    <div class="tecnologia">
      <h2>Node</h2>
      <p>Ambiente de execução JavaScript no lado do servidor, que permite construir aplicativos de rede e web usando JavaScript.</p>
    </div>

    <div class="tecnologia">
      <h2>Nodemon</h2>
      <p>Ferramenta de desenvolvimento para Node.js que reinicia automaticamente o servidor sempre que há alterações nos arquivos do projeto.</p>
    </div>

    <div class="tecnologia">
      <h2>Express</h2>
      <p>Framework web minimalista e rápido para Node.js, que fornece recursos essenciais para construir APIs e aplicativos web robustos.</p>
    </div>

    <div class="tecnologia">
      <h2>Mustache</h2>
      <p>Sistema de templates lógicos simples e flexível para renderizar dados dinâmicos em vários formatos</p>
    </div>

    <div class="tecnologia">
      <h2>Nodemailer</h2>
      <p>Biblioteca para Node.js que facilita o envio de e-mails, oferecendo uma interface simples e configurável para criar e enviar mensagens de e-mail.</p>
    </div>

  </section>
  <footer>
    <a class="texto-end-page" href="https://www.linkedin.com/in/ramon-crivelari-batista-b73392234/" target="_blank">@Petweb</a>
  </footer>
</body>
</html>
