body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .left-section {
    width: 60%;
    height: 100vh;
    background-image: url('../images/paw.jpg');
    background-size: cover;
  }

  .right-section {
    width: 40%;
    height: 100vh;
    background-color: #8B4513;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#formtitle{
  margin-bottom: 30px;
}

.container-formulario {
  display:flex;
  padding: 60px;
  background-color: #f2f2f2;
  width: 300px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: #000000 solid 3px; 
}

.container-formulario label,
.container-formulario input[type="text"],
.container-formulario input[type="password"],
.container-formulario input[type="submit"] {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.container-formulario input,
.container-formulario textarea{
  border: #000000 solid 1px; 
}

.container-formulario input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}

.criarConta{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}


