* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #F1DEC9;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
  .img-logo {
    background-image: url("../images/logo-header.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 80px;
  }
  
  header {
    background-color: #8B4513;
    color: #fff;
    height: 80px;
    border-bottom: #000000 solid 3px;
}

nav a {
    
    display: inline;
    margin-right: 60px;
    color: #ffffff;
    text-decoration: none;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.div-container {
  max-width: 1200px;
  text-align: justify;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#img-sobre{
  width: 350px;
  height: 350px;
}
  
  p {
    flex-grow: 1;
    font-size: 26px;
  }


img{
    width: 500px;
    height: 500px;
    margin-right: 20px;
}

footer {
  height: 30px;
  background-color: #8B4513;
  color: #fff;
  border-top: #000000 solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}



