* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #F1DEC9;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.div-links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.div-links a:last-child {
  width: auto;
}

.div-links a {
  margin-right: 70px;
}

.img-logo {
  background-size: contain;
  width: 100px;
  height: 80px;
}

header {
  background-color: #8B4513;
  color: #fff;
  height: 80px;
  border-bottom: #000000 solid 3px;
}

nav a {
  display: inline;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.div-container {
  max-width: 1200px;
  text-align: justify;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#img-sobre {
  width: 350px;
  height: 350px;
}

p {
  flex-grow: 1;
  font-size: 26px;
}


img {
  width: 500px;
  height: 500px;
  margin-right: 20px;
}

footer {
  height: 30px;
  background-color: #8B4513;
  color: #fff;
  border-top: #000000 solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

#div-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.texto-mid-page {
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  color: white;
  text-decoration: none;
  display: inline-block;
}

span {
  margin: 0 5px;
  color: #000000;
}

.texto-mid-page:hover {
  color: rgb(0, 0, 0);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.texto-end1-page {
  text-align: center;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  text-decoration: none;
  display: inline-block;
}

.texto-end2-page {
  text-align: center;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  text-decoration: none;
  display: inline-block;
}


.texto-end2-page:hover {
  color: rgb(0, 0, 0);
}

#btn-sair {
  background-color: red;
  width: 80px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  color: white;
  text-decoration: none;
  display: inline-block;
}